/* Increase the text size for .text-delta (Just the Docs small heading) */
.text-delta {
    font-size: 1.1rem !important;
  }

#back-to-top {
    font-size: 2rem;       /* Increase the font size */
    text-decoration: none;  /* Remove underline */
  }      
